# https://www.home-assistant.io/integrations/default_config
default_config:

homeassistant:
  name: Pentair for Home Assistant
  auth_providers:
    - type: trusted_networks
      trusted_networks:
        - 127.0.0.1
        - 192.0.0.0/8
        - ::1
      allow_bypass_login: true
    - type: homeassistant

logger:
  default: info
  logs:
    custom_components.pentair_cloud: debug
    pypentair: debug
    botocore: debug
